html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, img,
ul, ol, li,
header, nav, main,
section, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}